*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
}

body::before{
    content: '';
    background: #535971;
    height: 436px;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}

body, h1{
    font-family: 'Staatliches', cursive;   
}

h2, h3{
    font-weight: 400;
    color: #535971;
}

header{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin-top: 140px;
    margin-bottom: 58px;
}

header h1{
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 18px;
}

header p{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    width: 417px;
}

.page{
    margin: auto;
    width: 750px;
}

fieldset{
    border: none;
}

.fieldset-wrapper_name{
    display: flex;
    gap: 22px;
}

.fieldset-wrapper_name > div:nth-child(1){
    width: 50%;
}

.fieldset-wrapper_name > div:nth-child(2){
    width: 50%;
}


form{
    margin-top: 58px;
    background: #FFFFFF;
    width: 750px;
    margin:0 auto;
    padding: 64px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

legend{
    color: #535971;
    border-bottom: 1px solid #E6E6F0;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 16px;
}

label{
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
}

span{
    font-family: 'Poppins', sans-serif; 
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.fieldset-wrapper{
   display: flex;
   flex-direction: column;
   gap: 36px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input{
    width: 100%;
    height: 56px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding-left: 15px;
}

.date-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input_date{
    display: flex;
    gap: 11px; 
}

.input_date > div:nth-child(1){
    width: 300px;
    margin-right: 16px; 
}

.input_date > div:nth-child(2){
  width: 140px;
  
}
.input_date > div:nth-child(3){
    width: 140px;
}

footer{
    background: #535971;
    width: 750px;
    height: 160px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 366px;
    display: flex;
    flex-direction: column;
    padding: 52px 71px;
}

footer input{
    background: #FF5374;
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    width: 608px;
    height: 55.65px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    cursor: pointer;    
}

footer input:hover{
    background: #e1395b;
}

